{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "babel",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "rules": {
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "no-underscore-dangle": ["error", { "allowAfterThis": true, "allowAfterSuper": true }],
    "max-classes-per-file": ["error", 10]
  }
}
